# Files
.Dockerignore
.gitignore
.nbserver-log.txt
.bitbucket-pipelines.yml
requirements.local-dev.txt
**.pyc
**.terraform.plan
**/Dockerfile.core
**/Dockerfile.quick

# Folders
.devcontainer
.runtime/
.git
**/.ipynb_checkpoints/
**/.terraform/
**/spark-warehouse/
test-reports
nb
