# Files
.nbserver-log.txt
.manifest.txt
**.pyc
**TMP_*
**derby.log
**.bak
**/*Dockerfile.core
**/*Dockerfile.quick

# SSH keys
**/secrets/**
!**/secrets/README.md
**.pem
**.pub

# Folders
Notebooks
.runtime/
**/__pycache__/
**/.ipynb_checkpoints/
**/.terraform*
**/metastore_db/
**/spark-warehouse/
**/terraform.tfstate*
.devcontainer/.vscode-server/
.devcontainer/.vscode-server-insiders/
.devcontainer/.devcontainer
dist
infra/outputs
test-reports
