# Use this file to track and install dev-machine dependencies, assuming development and
# debugging from your local dev machine (not inside a container).

awscli
azure-storage-blob
azure-storage-file-datalake
docker
fire
joblib
junit-xml
pandas
psutil
pyspark
s3fs
xmlrunner

# DBT ETL Tool:
# dbt
# dbt-spark
# pyhive[hive]

# Data Science libraries:
# dataclasses
# fuzzywuzzy
# sklearn

# Spark Notebookes:
# ipykernel
# sparkmagic
