# Files
.Dockerignore
.gitignore
.nbserver-log.txt
.bitbucket-pipelines.yml
**.pyc
requirements.local-dev.txt
*Dockerfile

# Folders
.devcontainer
.runtime/
.git
**/.ipynb_checkpoints/
**/.terraform/
**/spark-warehouse/
test-reports
nb
